<?xml version="1.0"?>
<config>
    <modules>
        <Solute_Tracking>
            <version>1.0.0</version>
        </Solute_Tracking>
    </modules>
    <global>
        <blocks>
            <solute_tracking>
                <class>Solute_Tracking_Block</class>
            </solute_tracking>
        </blocks>
        <helpers>
            <solute_tracking>
                <class>Solute_Tracking_Helper</class>
            </solute_tracking>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <solute_tracking>
                    <file>solute_tracking.xml</file>
                </solute_tracking>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <solute_tracking>
                                            <title>Solute Tracking</title>
                                        </solute_tracking>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Solute_Tracking before="Mage_Adminhtml">Solute_Tracking_Adminhtml</Solute_Tracking>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
